<% include header.ejs %>
	<div class="col-sm-2"></div>
  	<div class="col-sm-11">
  		<main>
  		  <% posts.forEach(function(post, index) {%>
          <article>
            <header>
              <h2>
                <a href="u/<%= post.username %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
              <h2>
            </header>
          <div>
            <p><%- post.post %><a href="u/<%= post.username %>/<%= post.time.day %>/<%= post.title %>" class='more-link'>继续阅读 <span class='glyphicon glyphicon-arrow-right'></span></a></p>
          </div>
          <footer class='footer-line'>
            <span>
                日期：<time class="" datatime=<%= post.time.day %>><%= post.time.day %></time>
            </span>
            <span>作者：<a href='u/<%= post.username %>'><%= post.username %></a></span>
            <% if(user.username == post.username) { %>
            <span><a href='/editArticle/<%= post.username %>/<%= post.time.day %>/<%= post.title %>'>编辑</a></span>
            <span><a href='/remove/<%= post.username %>/<%= post.time.day %>/<%= post.title %>'>删除</span>
            <% } %>
          </footer>
        </article>
        <% }) %> 
  		</main>
  	</div>
<% include paging.ejs %>
<% include footer.ejs %>
